.btn{
    font-weight: bold;
    margin-top: 10px;
    color: #f1f1f1;
    border: #f1f1f1 1px solid;
    padding: 5px 9px;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: 1.25rem;
    border-radius: 5px;
}
.btn:hover{
    background-color: #f1f1f1;
    color: #000000c0;
}